select [Year],Jurisdiction, 
CurrentDollarsPerCapita from HealthData where Sector='Other Public'

select [Year],Jurisdiction, 
CurrentDollarsPerCapita from HealthData where Sector='Provincial/territorial government'